<!-- start custom head snippets, customize with your own _includes/head-custom.html file -->

<!-- Setup Google Analytics -->
{% include head-custom-google-analytics.html %}

<!-- You can set your favicon here -->
<!-- link rel="shortcut icon" type="image/x-icon" href="{{ '/favicon.ico' | relative_url }}" -->
<div id="header">
    <a href="mailto:ramon.marnino.solis@gmail.com">
      <img src="./img/gmail-logo-icon.png" alt="gmail-icon" style="width:32px;height:32px;" id="email-icon">
    </a>
    <a href="https://www.linkedin.com/in/ramón-mariño-solís-490585131/">
      <img src="./img/LinkedIn_icon.svg.png" alt="linkedin-icon" style="width:30px;height:30px;" id="linkedin-icon">
    </a>
</div>
<!-- end custom head snippets -->
